server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/users/(?<path>.*), /users/$\{path}

        - id: document-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/documents/**
          filters:
            - RewritePath=/api/documents/(?<path>.*), /documents/$\{path}

        - id: version-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/versions/**
          filters:
            - RewritePath=/api/versions/(?<path>.*), /versions/$\{path}
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
